@import "mixins";
@import "keyframes";
@import "reset";
@import "fonts";



html {
    font-family: $base-font;
}

.arcadeGame {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100vh;
    overflow: hidden;

    &__window {
        position: absolute;
        display: flex;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -40%);
        width: 60vw;
        height: 700px;
        min-height: 200px;
        box-shadow: 0 0 0 15px rgb(33, 204, 133);
        border-radius: 5% 5% 0 0;
        overflow: hidden;
    }

    &__roll {
        position: absolute;
        width: 20vw;
        height: 3900px;
}
     &__field {
        position: relative;
        width: 100%;
        height: calc(700px/3);
        border: 3px solid rgb(33, 204, 133);
    }

    .one &__field {
        top: 0;
        left: 0;
     
    }
    .two &__field {
        top: 0;
        left: 100%;
    
    }
    .three &__field {
        top: 0;
        left: 200%;
   
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        max-width: 80%;
        max-height: 80%;

    }


    &__panel {
        position: absolute;
        display: flex;
        top: 75%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 50%;
        min-height: 250px;
        min-width: 400px;
        background-color: white;
        border: 1px solid rgb(33, 204, 133);
        box-shadow: 0 0 0 15px rgb(33, 204, 133);
        border-radius: 30% 30% 0 0;
    }

    &__start {
        position: absolute;
        top: 40%;
        left: 70%;
        padding: 40px 30px;
        font-family: $base-font;
        background-color: #fff;
        cursor: pointer;
        transform: scale(1);
        box-shadow: 1px 7px 1px 7px rgb(33, 204, 133);
        transition: .2s;
        letter-spacing: 2px;
        font-size: 25px;

    }


    &__credit {
        @include panel_interface;
        left: 40%;


        div {
            @include panel_interface_value;
            border: 1px solid black;
            margin-top: 10px;
        }
    }

    &__bet {
        @include panel_interface;
        left: 10%;


        div {
            @include panel_interface_value
        }
    }

    &__betPanel {
        display: flex;
        cursor: pointer;

        .bid {
            width: 50px;
            border: 1px solid rgb(33, 204, 133);

        }
    }

    &__winValue {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 50px;
    }

    .click {

        box-shadow: 4px 7px 1px 12px rgb(33, 204, 133);
        transform: scale(0.9);

    }
}